# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore developement caches and configs
.vscode
.venv
__pycache__
.pytest_cache


# Ignore devcontainers
backend/*/.devcontainer/*.env

# Ignore unit testing track files
**/.coverage

# Ignore GCP service account
app-engine-sa.json
